# скрываем ключи и виртуальное окружение
.env
*.env
.config/
sample_data/

# скрываем виртуалки
venv/
ENV/
.venv/

# кэш питона
__pycache__/
*.pyc
*.pyo
*.pyd

# colab/juputer временные файлы
.ipynb_checkpoints/
